<nav class="navbar navbar-expand-sm bg-dark navbar-light">
	<div class="container">
		<a class="nav-link" href="/">Home</a> |
		<a class="nav-link" href="/account">Account</a> |
		<% if(user != undefined) {%>
			<span style="float: right"><%= user.username%></span> <a href="/logout">(Logout)</a>
		<%} else {%>
			<a href="/login">Log In</a>
		<%}%>
	</div>
	<div class="right">

	</div>
</nav>
